<p id:"notice"></p>

<main>
<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
 <tbody>
     <div class="form-group">
       <th>Name</th>
     </div>
     <div class="form-group">
       <th><%= user.name %></th>
     </div>
  <tr>
      <th>introduction</th>
   <th><%= user.introduction %></th>
  </tr>
 </tbody>
</table>
 
 <div class="row">
  <%= link_to icon("fas", "user-cog"), edit_user_path(user), class:"btn btn-outline-dark btn-block" %>
 </div>
 
<h2 class="mt-3">New book</h1>

<%= form_with model: book do |f| %>
<div class="form-group" >
  <h4>Title</h4>
</div>
<div class="form-group" >
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <h4>Opinion</h4>
</div>
<div class="form-group" >
  <%= f.text_area :body, class: "form-control" %>
</div>
<div class="form-group">
  <button class="btn-lg btn-success">Create Book</button>
</div>
  

<% end %>

</main>